<div class="jumbotron">
<h1 class="display-3">Cart<h1>
</div>
<% @items.each do |item| %>
  <ul>
    <li>
      <%= image_tag(item.image) %>
      <p><%= item.title %></p>
      <p><%= item.description %></p>
      <p>Price: $<%= item.price %></p>
      <p>Subtotal: $<%= item.price * @cart.count_of(item.id) %></p>
      Qty: <%= @cart.count_of(item.id) %>
      <%= button_to "Remove", cart_path(item_id: item.id), method: :delete %>
      <%= button_to "Add Item", cart_path(item_id: item.id) %>
    </li>
  </ul>
<% end %>
Cart Total: $<%= @cart.total %>
