<h1>Cart</h1>

<% @items.each do |item| %>
  <ul>
    <li>
    <%= image_tag(item.image) %>
      <p><%= item.title %></p>
      <p><%= item.description %></p>
      <p>Price: $<%= item.price %></p>
      <p>Subtotal: $<%= item.price * @cart.quantity(item) %></p>
      Qty: <%= @cart.quantity(item) %>
      <%= button_to "Remove", cart_path(item_id: item.id), method: :delete %>
      <%= button_to "Add Item", cart_path(item_id: item.id) %>
    </li>
  </ul>
<% end %>
Cart Total: $<%= @cart.total %>
