<div class="jumbotron">
  <div class="container">
    <% @items.each do |item| %>
      <div class="row">
        <div class="container">
          <div class="col-md-8"><strong><%= item.title %></strong><%= image_tag(item.image) %>
          <p class="info"><%= item.description %><p>
          </div>

          <div class="col-md-4">Price: <%= item.price %><br>
          Qty: <%= @cart.count_of(item.id) %>
          </div>
          <p class="subtotal">Subtotal: $<%= item.price * @cart.count_of(item.id) %></p>
          <%= button_to "Add Item", cart_path(item_id: item.id), class: "center-block btn btn-success" %>
          <%= button_to "Remove", cart_path(item_id: item.id), method: :delete, class: "center-block btn btn-danger" %>
        </div>
      </div>
    <% end %>
    <p class="total">Cart Total: $<%= @cart.total %></p>
  </div>
</div>
