
<div class="container">
  <ul class="items_group">
    <% @items.each do |item| %>
          <p><strong><%= item.title %></strong><%= image_tag(item.image ,size: "10") %>
          <%= item.description %><p>
          <p>Price: <%= item.price %></p><br>
          <p>Qty: <%= @cart.count_of(item.id) %></p>
          <p class="subtotal">Subtotal: $<%= item.price * @cart.count_of(item.id) %></p>
          <% unless item.retired? %>
            <%= button_to "Add Item", cart_path(item_id: item.id), class: "center-block btn btn-success" %>
          <% end %>
          <%= button_to "Remove", cart_path(item_id: item.id), method: :delete, class: "center-block btn btn-danger" %>
        </div>
      </div>
    <% end %>
    <p class="total">Cart Total: $<%= @cart.total %></p>
    <% if current_user %>
        <%= link_to "Checkout", orders_path, id: "create_order", method: :post %>
    <% else %>
        <%= link_to "Login or Register to Checkout", login_path %>
    <% end %>
  </div>
  </ul>
</div>
