<div class="jumbotron">
  <h1><%= @item.title %></h1>
  <p><%= @item.description %></p>
  <p>Price: <%= @item.price %></p>
  <%= button_to "Add Item", cart_path(item_id: @item.id), class: "btn btn-success" %>
  <div class="pic"><%= image_tag(@item.image) %></div>
</div>
